{% extends 'base_my.html' %}
{% block title %} {{ post.title }} {% endblock %}

{% block custom_head %}
    <link href="{{ url_for('static', filename='css/share.min.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
{{ super() }}

{% endblock %}
{% block main %}
{{super()}}
{% endblock %}


{% block right_content %}
<div style="padding-top:35px;"> </div>
<div class="container-fluid">
        <!--never show in the page html -->
{% if  post.post_type=='page' %}
        <h4 style="text-align:center;margin-bottom:25px;">
            <span class="about-head" >
            关于米油---[^_^Just Call Me MeYou^_^]
            </span>
        </h4>
        <div style="border-bottom:2px #989898 dashed;margin-bottom:10px;"> </div>
         <div class="row">

            <div class="col-lg-6  col-md-6  col-sm-6" >

                <div style="float:left;">
                <span class="about-tag">[自我评价]:</span>
                    <ul>
                            <li>80后</li>
                            <li>技术宅</li>
                            <li>普通人</li>
                            <li>强迫症</li>
                            <li>瞎折腾</li>
                            <li>有温度</li>
                            <li>有梦想</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6  col-md-6  col-sm-6" >
                <div style="float:left;">
                    <span  class="about-tag">[技术栈]:</span>
                    <ul>
                            <li>半路出家</li>
                            <li>玩过几年单片机</li>
                            <li>写过一段时间底层c</li>
                            <li>研究过汇编＋c写OS</li>
                            <li>用C++刷过一段时间网上的数学题</li>
                            <li>Python主要用来分析数据，自动化任务处理，画画图，搞搞阔研</li>
                            <li>喜欢研究web前后端各种技术框架－目前FlaskIng</li>
                            <li>说多就漏馅了，其实啥也不会</li>
                    </ul>
                </div>
            </div>
        </div> 
            <!--end of row-->
            <div style="border-bottom:2px #989898 dashed;margin-bottom:10px;"> </div>
            <div class="row">
                <div class="col-lg-6  col-md-6  col-sm-6" > 
                    <div style="clear:both"></div>
                   
                
                   <div style="float:left">
                       <span class="about-tag">[联系我]:</span>
                       <ul>
                               <li>QQ: 397916230</li>
                               <li>Weixin: 忘了</li>
                               <li>Gmail: timehuang88@gmail.com</li>
                               <li>Segmentfault: 见网站左边sidebar</li>
                               <li>其它: 小鲜肉用的其它联系方式没有</li>
                       </ul>
                   </div>                
                </div>
                <div class="col-lg-6  col-md-6  col-sm-6" > 

                    <div class="tag-one" style="float:left">
                        <span class="about-tag">[关于该博客]:</span>
                        <ul>
                                <li>Powered by <a href="http://flask.pocoo.org/">Flask</a>+Gunicorn+Nginx</li>
                                <li>修改于Flyhigher139的开源博客<a href="https://github.com/flyhigher139/OctBlog">OctBlog</a></li>
                                <li>本博客的源码位于<a href="https://github.com/huangtao00/MeYouBlog"> Here</a></li>
                                <li>再次感谢Flyhigher139开源自己的成果</li>
                        </ul>
                    </div>                
                </div>
            </div> <!--end of row-->
               
                
                
           <div class="about-lastline" > </div>
       

    
          
            
        
        <!--maybe this will be useful in the future-->
        {% if not allow_donate %}
            <div class="row">
                <!-- donate -->
                <div class ="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <p>{{ donation_msg }}</p>
                        <a id="btn_donate" class="btn_donate" href="#" title="Donate">
                        <i class="fa fa-usd"></i> | <i class="fa fa-jpy"></i>
                        </a>                  
                        <br>
                      <!-- weixin -->
                      <div id="donate_guide" class="donate_bar center hidden ">
                          <img src="{{ donation_img_url }}" title="Donate">
                      </div> 
                </div>
                <!-- donate --> 
                
            </div><!--end of row-->
            <br>
        {% endif %}
            
            <!--maybe this will be useful in the future-->
        {% if not display_wechat %}
            <div class="row">
                <!-- donate -->
                <div class ="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>{{ wechat_msg }} <i class="fa fa-weixin" aria-hidden="true"></i></p>
                    <img src="{{ wechat_image_url }}" title="{{ wechat_title }}">
                </div>
                
            </div><!--end of row-->
        {% endif %}
         
{% endif %} 

    {% if allow_comment %}
        <div class="row">
            <div class="col-lg-12  col-md-12  col-sm-12">
                {{ comment_html|safe }} 
            </div>
        </div><!--end of row-->
    {% endif %}
</div>
{% endblock %}

{% block js %}
{{ moment.include_moment(local_js="//cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js") }}
<script src="{{ url_for('static', filename='js/share.min.js') }}"></script>
<script type="text/javascript">
    $('table').addClass('table');
    $('#btn_donate').on('click', function(event){
        if($('#donate_guide').hasClass('hidden'))
            $('#donate_guide').removeClass('hidden');
        else
            $('#donate_guide').addClass('hidden');
        return false
    });
    
    
</script>
{% endblock %}