{% extends 'base_my.html' %}

{% block title %}{{ blog_meta.name }}{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-11  col-md-11 col-md-offset-1">
            <div class="row">
                {% for post in posts.items %}
                <div class="col-lg-5 col-sm-6 col-md-5" >
                    <div class="thumbnail post-nav" >
                      <!-- <img src="..." alt="..."> -->
                      <div class="caption">
                        <h3><a href="{{ url_for('main.post_detail', slug=post.slug) }}">{{ post.title| title }}</a></h3>
                        
                        <hr style="height:2px;border:none;border-top:2px dashed #0066CC;margin:5px 5px -25px 5px;" />
                        <p class="post-author-title">
                        作者：<span>{{ post.author }}</span>
                        发表时间：{{ moment(post.pub_time).format('YYYY/MM/DD') }}<!--'YYYY/MM/DD-h:mm a' -->
                        <br/>
                         
                        文章摘要：<span class="post-abstract" >{{ post.content_html[:200] |striptags + " ......" }}</span>
                        
                        </p>
                      </div>
                    </div>          
                </div>
                {% endfor %}
            </div>

            <div class="row">
                {% import '_pagination.html' as pagination %}
                {{ pagination.render_pagination(posts) }}
            </div>
        </div>

    </div>
</div>

<hr>
{% endblock %}

{% block js %}
{{ moment.include_moment(local_js="//cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js") }}
<script type="text/javascript">
$('.rm-filter').on('click', function (event) {

    location.href = "/";
    return false;
  });
</script>
{% endblock %}