{% extends 'base_my.html' %}

{% block title %}{{ blog_meta.name }}{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}

{% block left_content %}
{{super()}}
{% endblock %}

{% block right_content %}
        <div style="padding-top:15px;"> </div>

        {% for post in posts.items %}
            <div class="row" >
                    <div class="col-lg-12  col-md-12  col-sm-12 post-nav" >
                  <!-- <img src="..." alt="..."> -->
                    <div class="archive-title" >
                        <a href="{{ url_for('main.post_detail', slug=post.slug) }}"><i class="fa fa-file-word-o" aria-hidden="true"></i> {{ post.title| title }}</a>
                    </div>
                    <div class="archive-catetag" >
                        <a href="?category={{ post.category }}"><span class="badge  badge-primary">{{ post.category }}</span>&nbsp;</a>
                        {% for tag in post.tags %} 
                        <a href="{{ url_for('main.index') }}?tag={{ tag }}"> 
                        <span class="  badge badge-warning">
                        {{ tag }}</span>  
                        </a>  
                        {% endfor %}  
                    </div> 
                                  
                    <div class="archive-meta" >
                       <i class="fa fa-clock-o fa-1g" aria-hidden="true"> </i> {{ moment(post.pub_time).format('YYYY年MM月DD日') }}<!--'YYYY/MM/DD-h:mm a' -->
                    </div>
                    
                </div>       
            </div> <!--end of row-->
            <hr style="height:2px;border-top:2px dashed #aaa;margin:-1px -20px 0px -10px;" />    
        {% endfor %}
       

            <div class="row">
                {% import '_pagination.html' as pagination %}
                {{ pagination.render_pagination(posts) }}
            </div>

<hr>
{% endblock %}

{% block js %}
{{ moment.include_moment(local_js="//cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js") }}
<script type="text/javascript">
$('.rm-filter').on('click', function (event) {

    location.href = "/";
    return false;
  });
</script>
{% endblock %}

{% block main %}
{{super()}}
{% endblock %}