<a name="comment"></a>


{% import "_msg.html" as messages %}
{{ messages.render_msg() }}




<!--show comment here-->    


 {% for comment in comments %}
 <div class="row text-left" style="margin-top:10px;margin-bottom:10px;">

 <div class="col-lg-1 hidden-xs-down "> 
    <div style="padding-top:13px;">
       <img  width=50 src="{{ comment.get_gavatar_url() }}" alt="user-avatar">
    </div>
 </div>
 
 <div  class="col-lg-11 " style="background-color:#f6f9ff;border-radius:7px;border:2px #ddd solid;" >
    <div class="row" style="background-color:#ddd;padding:0px 0px 0px 7px;">
       <div  class="col-7"  style="padding:0px 0px 0px 4px;font-weight:bold;color:#777;">
            <span>{{ comment.author }} 
                {% if comment.homepage %}
                    <a href="{{ comment.homepage }}" rel="nofollow" target="_blank"><i class="fa fa-home" aria-hidden="true"></i></a>
                {% endif %}
            </span>
       </div>
       <div  class="col-5 ">
            <span style="font-size:15px;margin-top:5px;float:right;background-color:none;margin-right:0px;color:#777;">{{ comment.pub_time.strftime('%Y-%m-%d') }}</span>
       </div>

   </div>
   <div class="row" >
        <div  class="col-12 comment-content "  style="padding:0px 0px 0px 7px;">
         {{ comment.html_content|safe }} 
        </div>
   </div>   

</div> 

</div> <!--end of row-->
 {% endfor %}





{% import "_form.html" as forms %}
 <div class="row collapse"  id="lmsg" >
 <div  class="col-12 ">
     <form method="POST" action="#comment"  >
         {{ forms.render(form) }}
         <button type="submit" class="btn btn-danger leave-msg-submit" name="oct-comment" value="oct-comment"  style="margin-right:-10px;">提交</button>
     </form>
</div>
</div>
<button  data-toggle="collapse" data-target="#lmsg" class=" btn btn-primary leave-msg-btn" >点我留言:</button>
<div style="height:100px;"> </div>
