{% extends 'base_my.html' %}

{% block title %}{{ blog_meta.name }}{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}



{% block main %}
{{super()}}

{% endblock %} 

{% block left_content %}

{{super()}}
            


{% endblock %}

{% block right_content %}
     <div style="padding-top:20px;"> </div>
     {% for post in posts.items %}
            <div class="post-preview " >
                <div >
                    <div class="post-title" style="background-color:none" >
                        <a   href="{{ url_for('main.post_detail', slug=post.slug) }}">   
                                {{ post.title |title }} 
                        </a>
                    </div>
                    <div class="post-author" style="background-color:none;" >
                        <a  href="{{ url_for('main.author_detail', username=post.author.username) }}">{{ post.author.display_name }}
                        </a> 
                        发表于 {{ moment(post.pub_time).format('YYYY-MM-DD') }}
                        
                    </div>
                </div>
               
                <div style="clear:both;height:2px;border:none;border-top:2px dashed #999;margin:0px 5px -20px 0px;"> </div>
               
                <div class="post-subtitle">
                  <span style="font-weight:bold;color:#222255;"> 摘要：</span><span> {{ post.abstract }}</span>
               

                    <div class="post-meta">
                    分类： <a href="?category={{ post.category }}">{{ post.category }}</a>
                    标签：{% for tag in post.tags %} <a href="{{ url_for('main.index') }}?tag={{ tag }}">{{ tag }}</a>  {% endfor %}
                    </div>
                </div>
                
        </div>
                
                {% if not loop.last %}
                {% endif %}
            {% else %}
                <p class="post-subtitle">
                    No articles found here
                </p>
            {% endfor %}
            
            <!-- show previos and next pagination -->
            <ul class="pagination">
                {% if posts.has_next %}
                    <li class="page-item">
                        <a  class="page-link alert alert-info"  href="?page={{ posts.next_num }}
                            {%- if cur_category %}&category={{ cur_category }}{% endif %}
                            {%- if cur_tag %}&tag={{ cur_tag }}{% endif %}"> Next &rarr;
                        </a>
                    </li>
                {% endif %}
                {% if posts.has_prev %}
                    <li class="page-item">
                        <a class="page-link alert alert-info"  href="?page={{ posts.prev_num}}
                            {%- if cur_category %}&category={{ cur_category }}{% endif %}
                            {%- if keywords %}&keywords={{ keywords }}{% endif %}
                            {%- if cur_tag %}&tag={{ cur_tag }}{% endif %}">&larr;Previous
                        </a>
                    </li>
                {% endif %}
            </ul>
            
 <!--know nothing about this -->
            {% for widget in widgets %}
                <h3>{{ widget.title | safe }}</h3><hr/>
                <div class="list-group">
                    {{ widget.html_content | safe }}
                </div>
            {% endfor %}

{% endblock %}
<!--end rightblock-->

{% block js %}
{{ moment.include_moment(local_js="//cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js") }}
<script type="text/javascript">
$('.rm-filter').on('click', function (event) {

    location.href = "/";
    return false;
  });
</script>
{% endblock %}