{% extends 'base_my.html' %}

{% block title %}{{ blog_meta.name }}{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}



{% block main %}
{{super()}}

{% endblock %} 

{% block left_content %}


                
                    <div class="left-tag">
                       <hr style="height:2px;border:none;border-top:5px solid #ddd;margin:0px 5px 3px 0px;" />

                        <h3>分类：</h3>
                            
                            {% for category in category_cursor %}
                            {% if category and category.name %}
                                {% if cur_category == category.name %}
                                    <a href="?category={{ category.name }}"  class="post-tag badge badge-danger">{{ category.name }} 
                                    <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                                    <span class="badge">&nbsp;{{ category.count }}&nbsp;</span></a>
                                {% else %}
                                    <a href="?category={{ category.name }}" class="post-tag badge badge-success">{{ category.name }} 
                                    <span class="badge">&nbsp;{{ category.count }}&nbsp;</span></a>
                                {% endif %}
                            {% endif %}
                            &nbsp;
                            {% endfor %}
                        
                        
                        <!--tag list-->
                        <hr style="height:2px;border:none;border-top:5px solid #ddd;margin:5px 5px 3px 0px;" />
                       
                        <h3> 标签：</h3>
                        <hr style="height:2px;border:none;border-top:0px dashed #333;margin:0px 5px 0px 0px;" />
                        {% for tag in tags %}
                             <a href="?tag={{tag}}" class="post-tag">
                                <!--if user click the tag-->
                                {% if tag == cur_tag %}  
                                <span class="badge badge-pill badge-danger">
                                    {{ tag }}
                                    <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                                </span>
                                
                                {% else %}
                                <span class="badge badge-pill badge-primary">
                                    {{ tag }}
                                </span>
                                
                                {% endif %}      
                            </a>
                            &nbsp;
                        {% endfor %}
                    </div>
                
                <hr style="height:2px;border:none;border-top:5px solid #ddd;margin:0px 5px 0px 0px;" />


{% endblock %}

{% block right_content %}
     {% for post in posts.items %}
            <div class="post-preview">
                <a href="{{ url_for('main.post_detail', slug=post.slug) }}">
                    <h2 class="post-title">
                        {{ post.title |title }}
                    </h2>
                </a>
                <p class="post-meta">
                分类： <a href="?category={{ post.category }}">{{ post.category }}</a>
                标签：{% for tag in post.tags %} <a href="{{ url_for('main.index') }}?tag={{ tag }}">{{ tag }}</a>  {% endfor %}
                </p>
                <hr style="height:2px;border:none;border-top:2px dashed #333;margin:30px 5px -20px 0px;" />
                
                <p class="post-subtitle">
                   摘要：<span> {{ post.abstract }}<span>
                </p>
                <hr style="height:2px;border:none;border-top:2px solid #dfdfdf;margin:-20px 5px -25px 71%;" />

                <p class="post-author" ><a href="{{ url_for('main.author_detail', username=post.author.username) }}">{{ post.author.display_name }}</a> 发表于 {{ moment(post.pub_time).format('YYYY/MM/DD') }}</p>
                <hr style="height:2px;border:none;border-top:2px solid #ddd;margin:-20px 5px -25px 0px;" />
     
            </div>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% else %}
                <p class="post-subtitle">
                    No articles found here
                </p>
            {% endfor %}
            
            <!-- show previos and next pagination -->
            <ul class="pagination">
                {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link"  href="?page={{ posts.next_num }}
                            {%- if cur_category %}&category={{ cur_category }}{% endif %}
                            {%- if cur_tag %}&tag={{ cur_tag }}{% endif %}">Older Posts &rarr;
                        </a>
                    </li>
                {% endif %}
                {% if posts.has_prev %}
                    <li class="page-item">
                        <a class="page-link"  href="?page={{ posts.prev_num }}
                            {%- if cur_category %}&category={{ cur_category }}{% endif %}
                            {%- if keywords %}&keywords={{ keywords }}{% endif %}
                            {%- if cur_tag %}&tag={{ cur_tag }}{% endif %}">&larr;Previous Posts
                        </a>
                    </li>
                {% endif %}
            </ul>
            
 <!--know nothing about this -->
                {% for widget in widgets %}
                    <h3>{{ widget.title | safe }}</h3><hr/>
                    <div class="list-group">
                        {{ widget.html_content | safe }}
                    </div>
                {% endfor %}

{% endblock %}
 


{% block js %}
{{ moment.include_moment(local_js="//cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js") }}
<script type="text/javascript">
$('.rm-filter').on('click', function (event) {

    location.href = "/";
    return false;
  });
</script>
{% endblock %}