{% extends 'base_my.html' %}
{% block title %} {{ post.title }} {% endblock %}

{% block custom_head %}
    <link href="{{ url_for('static', filename='css/share.min.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
{{ super() }}

{% endblock %}
{% block main %}
<div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-0" >
                    <h2 style="font-style:italic;">{{ post.title| title }}</h2>
                    <hr style="height:2px;border:none;border-top:1px solid #0066CC;margin:5px 5px 5px 5px;" />
                </div>   
            </div>
    <div class="row">

            <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0" >
                
                    
                    作者：<span>{{ post.author }}</span>
                    发表时间：{{ moment(post.pub_time).format('YYYY/MM/DD') }}<!--'YYYY/MM/DD-h:mm a' -->

            </div>
            <div class="col-lg-5 col-md-5 col-sm-5"  style="text-align:right">
                    <span >
                     标签：
                       <span class="meta"> {% for tag in post.tags %} <a href="{{ url_for('main.index') }}?tag={{ tag }}">{{ tag }}</a>  {% endfor %}
                       </span>
                    {% if post.category%}
                    分类：<span class="meta"><a href="{{ url_for('main.index') }}?category={{ post.category }}">{{ post.category }}</a></span>
                    {% endif %}
                   <span>
            </div>

            
    </div>
    <div class="row">
                <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-0" >
                    <div class="post-content">
                       <article>
                            {{post.content_html|safe}}
                       </article>
                    </div>
                </div>
    </div>
    
   <article>
        {% if not post.post_type=='page' %}
           <div class="container">
            <div class="row">
                
                    <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-8 col-sm-offset-0">
                    {% if display_copyright %}
                        <p><strong>{{ copyright_msg }}</strong></p>
                    {% endif %}
                    </div>
                 
                 {% if allow_share_article %}
                    <div class="col-lg-5 col-md-5 col-sm-5" style="text-align:right">
                    <br>
                        <div class="share-component" data-sites="weibo,wechat,douban,qq"></div>
                    </div>
                 {% endif %}

            </div>
           </div>
            
        
        
            {% if allow_donate %}
            <div class="row">
                <!-- donate -->
                <div class ="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>{{ donation_msg }}</p>
                    <a id="btn_donate" class="btn_donate" href="#" title="Donate">
                    <i class="fa fa-usd"></i> | <i class="fa fa-jpy"></i>
                    </a>                  
                    <br>
                  <!-- weixin -->
                  <div id="donate_guide" class="donate_bar center hidden ">
                      <img src="{{ donation_img_url }}" title="Donate">
                  </div> 
                </div>
                <!-- donate --> 
                
            </div>
            <br>
            {% endif %}

            {% if display_wechat %}
            <div class="row">
                <!-- donate -->
                <div class ="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>{{ wechat_msg }} <i class="fa fa-weixin" aria-hidden="true"></i></p>
                    <img src="{{ wechat_image_url }}" title="{{ wechat_title }}">
                </div>
                
            </div>
            {% endif %}
            
        {% endif %}
            
        <!-- </div> -->
    </article>
    <br>
    <hr>
    {% if allow_comment %}
        <article>
            <!-- <div class="container"> -->
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        {{ comment_html|safe }}
                    </div>
                </div>
            <!-- </div> -->
        </article>
    {% endif %}
</div>
{% endblock %}

{% block js %}
{{ moment.include_moment(local_js="//cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js") }}
<script src="{{ url_for('static', filename='js/share.min.js') }}"></script>
<script type="text/javascript">
    $('table').addClass('table');
    $('#btn_donate').on('click', function(event){
        if($('#donate_guide').hasClass('hidden'))
            $('#donate_guide').removeClass('hidden');
        else
            $('#donate_guide').addClass('hidden');
        return false
    });
    
    
</script>
{% endblock %}