{% extends 'base_my.html' %}

{% block title %}{{ blog_meta.name }}{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}



{% block main %}
{{super()}}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1">
       
            
        </div>
        

        <div class="col-lg-3 col-md-2">
            
            <!-- <hr> -->
            <br>

            <h3>Tags</h3><hr/>
            {% for tag in tags %}
                <a href="?tag={{tag}}" class="post-tag">
                    {% if tag == cur_tag %}
                    <span class="label label-primary">
                        {{ tag }}
                        <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                    </span>
                    
                    {% else %}
                    <span class="label label-default">
                        {{ tag }}
                    </span>
                    
                    {% endif %}
                    
                </a>
                &nbsp;
            {% endfor %}

            
            <h3>Category</h3><hr/>
            <div class="list-group">
                {% for category in category_cursor %}
                {% if category and category.name %}
                    {% if cur_category == category.name %}
                        <a href="?category={{ category.name }}" class="list-group-item category-list active">{{ category.name }} 
                        <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                        <span class="badge">&nbsp;{{ category.count }}&nbsp;</span></a>
                    {% else %}
                        <a href="?category={{ category.name }}" class="list-group-item category-list ">{{ category.name }} 
                        <span class="badge">&nbsp;{{ category.count }}&nbsp;</span></a>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>


            {% for widget in widgets %}
            <h3>{{ widget.title | safe }}</h3><hr/>
            <div class="list-group">
                {{ widget.html_content | safe }}
            </div>
            {% endfor %}
                        
        </div>
    </div>
</div>
{% endblock %} 


{% block js %}
{{ moment.include_moment(local_js="//cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js") }}
<script type="text/javascript">
$('.rm-filter').on('click', function (event) {

    location.href = "/";
    return false;
  });
</script>
{% endblock %}