pre {

        margin: 10px; padding: 10px; 
        color: #fff; background-color: #345;
        white-space: pre; text-shadow: 0 1px 0 #000;
        border-radius: 10px 10px 10px 10px; border-bottom: 1px solid #555;
        box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset, 0 0 20px rgba(0,0,0,0.2) inset;
        font: 16px/26px 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
        -moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
        box-shadow: 10px 10px 5px #888888;
}


.hljs-comment {
color: #aee;
font-size:1em;
font-weight:bold;
}
.com {
color:#fff;
}
.hljs-keyword {
color:#ff7777;
font-weight:bold;
}