pre {

        margin: 10px; padding: 10px; 
        color: #fff; background-color: #313131;
        white-space: pre; text-shadow: 0 1px 0 #222;
        border-radius: 6px; border-bottom: 2px solid #555;
        font: 16px/26px 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
        -moz-box-shadow: 10px 10px 5px #888888; /* 老的 Firefox */
        box-shadow: 7px 7px 5px #aaa;
}


.hljs-comment {
color: #aee;
font-size:1em;
font-weight:bold;
}
.com {
color:#fff;
}
.hljs-keyword {
color:#ff7777;
font-weight:bold;
}
.post-content p {
 margin-right:15px;
 margin-left:15px;
 margin-top:20px;
}
.post-content img {
/*box-shadow: 3px 3px #665;*/
border-radius: 8px;
background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}