pre {

   margin:10px;     
   margin-bottom:25px;
   border-bottom: 2px solid #555;
   font: 16px/26px 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
   white-space: pre;
   text-shadow: 0 1px 0 #222;
   border-radius: 6px;
   border-bottom: 2px solid #555;
   -moz-box-shadow: 10px 10px 5px #888888;
   box-shadow: 7px 7px 5px #aaa;

}



.hljs-comment {
/*color: #aee;*/
font-size:1em;
font-weight:bold;
}
.com {
/*color:#fff;*/
}
.hljs-keyword {
/*color:#ff7777;*/
font-weight:bold;
}
.post-content p {
 margin-right:15px;
 margin-left:15px;
 margin-top:5px;
}
.post-content img {
/*box-shadow: 3px 3px #665;*/
border-radius: 8px;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 10px;
}

.post-content ol {
margin-bottom:0px;
}

.post-content a{
 color:#d33;
}
.post-content a:hover{
 color:blue;
 text-decoration:none;
}

/* addd line number for code block */
pre {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    /* border: 1px solid #C3CCD0; */
    background: #FFF;
    overflow: hidden;
  }
  code {
  
   font-family: Menlo, monospace;
 
  }
  code.has-numbering {
    margin-left: 22px;
  }
  .pre-numbering {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    padding: 12px 2px 12px 0;
    border-right: 2px solid rgb(250, 196, 200);
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(122, 122, 122);
    text-align: right;
    font-family: Menlo, monospace;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-right:5px;
    padding-left: 3px;
  }

  .post-content > blockquote {

    border: 10px solid #9a0705;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-right: 15px;
    margin-left: 15px;
    background: #9c9c9c;
    color: #444;
  }
  .post-content > blockquote >p
  {
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .post-content > blockquote >p> code 
  {
   color:#4444d0;
   font-weight: bold;
   background: #9c9c9c;
  }

  .post-content > ol {
    margin-left: 15px;
    padding: 0;
    list-style-type: none;


  }

  .post-content >ol > li {
    counter-increment: step-counter;
    /* margin-bottom: 5px; */
    color:#545454; 
    background-color: rgb(248, 248, 248);
    /* background: #eef; */

  }

  .post-content >ol > li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 60%;
    background-color: rgb(115, 136, 136);
    color: white;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 3px;
  }