{% macro render_pagination(pagination) %}
  <nav>
    <ul class="pagination">
      {% if not pagination.has_prev %}
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>    
        
      {% else %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ pagination.prev_num }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>        

      {% endif %}
    
      {%- for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}  
            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
          {% else %}
            <li class="page-item disabled"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>

          {% endif %}
        {% else %}
          <!-- <span class=ellipsis>…</span> -->
          <li><a href="#">...</a></li>
        {% endif %}
      {%- endfor %}

      {% if not pagination.has_next %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% else %}
        <li class="page-item ">
          <a class="page-link" href="?page={{ pagination.next_num }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% endif %}      
    </ul>
  </nav>
{% endmacro %}