<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% if post %}
    <meta name="title" content="{{ post.title }} | {{ blog_meta.name }}">
    <meta name="description" content="{{ post.abstract }}">
    <meta name="author" content="{{ post.author.username }}">
    <meta name="keywords" content="{{ post.tags|join(',') }}">
    {% else %}
    <meta name="title" content="{{ blog_meta.name }}">
    <meta name="description" content="{{ blog_meta.description }}">
    <meta name="author" content="{{ blog_meta.owner }}">
    <meta name="keywords" content="{{ blog_meta.keywords }}">
    {% endif %}

    <meta name="google-site-verification" content="{{ blog_meta.google_site_verification }}">
    <meta name="baidu-site-verification" content="{{ blog_meta.baidu_site_verification }}">
    <meta name="sogou_site_verification" content="{{ blog_meta.sogou_site_verification }}"/>
    <meta name="sogou-site-verification" content="{{ blog_meta.sogou_site_verification }}"/>

    <title>{% block title %}MeYou`s Blog{% endblock %}</title>

    <!-- Favourite icon -->
  

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">

    <!-- Bootstrap Core CSS  CDN-->
    <link href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/monokai-sublime.css"  rel="stylesheet">
    
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/clean-blog.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/meyou.css') }}" rel="stylesheet">
    
    <!-- Recenet changs in my blog for SEO -->
    <link href="{{ url_for('main.recent_feed') }}" rel="alternate" title="Recent Changes"  type="application/atom+xml">



    {% block custom_head %}{% endblock %}

    <!-- Custom Fonts -->
</head>
<body>

<!-- Set your background image for this header on the line below. -->
<!--background-image: url({{ bg_home }});-->
{%block header %}
<!--<header class="fixed-top">-->
<!--<div class="intro-header text-center" > -->
 <!--<img src="{{ bg_home }}"  />-->
 <!--</div>-->
<!--</header>-->
{% endblock %}

<!-- Navigation -->
<nav class="navbar navbar-toggleable-md navbar-inverse  fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}" style="font-size:15px">MeYou`s Blog</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link"  href="{{ url_for('main.index') }}">主页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('main.archive') }}">归档</a>
                </li>

                <!--add more page in the  header-->
                <li class="nav-item active">
                {% for page in pages %}   
                  <a class="nav-link"  href="{{ url_for('main.page_detail', slug=page.slug) }}">{{ page.title }}</a>
                </li>
                {% endfor %}

                <!--login state-->
                {% if current_user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link"  href="{{ url_for('blog_admin.index') }}">{{ current_user.username }}</i></a>
                </li>
                {% endif %}
           </ul>
           
            <!--RSS-->
            <div class="nav-item" style="text-align:right;">
              <a class="nav-link" style="color:white;" href="{{ url_for('main.recent_feed') }}" target="_blank">RSS</a>
            </div>
            
            <!--search form-->
            <form id="search-form" class="form-inline mt-2 mt-md-0" method="get" action="/">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-search"></i></div>
                  <input type="text" class="form-control" id="  " name="keywords" placeholder="search" value="{% if keywords %}{{ keywords }}{% endif %}">
                </div>
              </div>
              <!-- <button type="submit" class="btn btn-default">Transfer cash</button> -->
            </form>   
     </div>
</nav>
    
    
<!-- Main Content -->
{%block main %}
<div class="container-fluid" >
    <div class="row" >
        <nav class=" col-lg-3  col-sm-3   col-md-3 hidden-xs-down bg-faded sidebar"  >
            <!--<div style="margin-top:120px"> </div>-->
            {% block left_content %}


                    <div class="list-group" style="margin-left:10px;margin-right:10px;">
                        <a  class="list-group-item active" data-toggle="collapse" href="#cateshow" style="font-weight:bold;padding:5px;padding-left:8px;background-color:#333;">
                        分类：
                        <a>
                        <div class="panel-collapse collapse show" id="cateshow" style="border: 2px solid rgba(0,0,0,.125);padding:0px 2px 3px 7px;">                        
                       
                            {% for category in category_cursor %}
                                {% if category and category.name %}
                                    {% if cur_category == category.name %}
                                        <a href="/?category={{ category.name }}"  class="post-tag badge badge-danger">{{ category.name }} 
                                        <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                                        &nbsp;{{ category.count }}&nbsp;</a>
                                    {% else %}
                                        <a href="/?category={{ category.name }}" class="post-tag badge badge-success">{{ category.name }} 
                                        &nbsp;{{ category.count }}&nbsp;</a>
                                    {% endif %}
                                {% endif %}
                            &nbsp;
                            {% endfor %}
                            
                        </div>
                    </div>                  
                    
                      
                      
                      
                    <div class="list-group" style="margin-left:10px;margin-right:10px;">
                       <a  class="list-group-item active" data-toggle="collapse" href="#tagshow" style="font-weight:bold;padding:5px;padding-left:8px;background-color:#789;">
                        标签:
                      <a>
                      <div class="panel-collapse collapse show" id="tagshow" style="border: 2px solid #789;padding:0px 2px 3px 7px;">                        
                            {% for tag in tags %}
                                 <a href="/?tag={{tag}}" class="post-tag ">
                                    <!--if user click the tag-->
                                    {% if tag == cur_tag %}  
                                    <span class="badge badge-pill badge-danger" >
                                        {{ tag }}
                                        <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                                    </span>
                                    
                                    {% elif tag %}
                                    <span class="badge badge-pill badge-primary">
                                        {{ tag }}
                                    </span>
                                    
                                    {% endif %}      
                                </a>
                              
                            {% endfor %}
                      </div>
                    </div>
                    
                    
                    <div class="list-group friend-link" style="margin-left:10px;margin-right:10px;">
                      <span href="#" class="list-group-item active" style="font-weight:bold;padding:5px;padding-left:8px;">
                        友情链接:
                      </span>
                      <a href="https://blog.igevin.info/" class="list-group-item list-group-item-action">Gevin`s Blog</a>
                      <a href="/pages/About/" class="list-group-item list-group-item-action">欢迎留链互粉</a>
                      <a href="#" class="list-group-item list-group-item-action">etc</a>
                    </div>                    
                  
                    <!--segment link show-->
                    <div style="padding-left:10px; padding-right:10px;margin-top:0px;">
                    <script src='//w.segmentfault.com/card/1030000000594924.js?w=0&3rd=1&bg=0&bd=DDDDDD&cl=333333&btn=009a61&noBtn=0'></script>
                    <div>
                    

            {% endblock %}

        <!--<footer>-->
            <div class="row "">
                <div class="col-lg-12 text-center col-sm-12 col-md-12">
                    <hr style="height:2px;border:none;border-top:2px dashed #777;margin:10px 5px -20px 0px;" />

                    <p class="copyright text-muted" style="font-size:13px">
                        <a href="/accounts/login/">
                           <i class="fa fa-bank fa-2x" aria-hidden="true"></i>
                       </a>
                       Copyright &copy; MeYou`s Blog 2018 
                    </p>
                    <hr style="height:2px;border:none;border-top:2px dashed #777;margin:-10px 5px 0px 0px;" />          
                </div>
            </div>
        <!--</footer>-->
          
            
    </nav>

        <div class=" right-content col-lg-8 offset-lg-3 col-sm-8 offset-sm-3 col-md-8 offset-md-3 " >

            {% block right_content %}
            
            {% endblock %}
        </div>
    </div>
    </div>

{% endblock %}
      
    
<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<!--<script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>-->
<script src="/static/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!--add target=_blank for all the a links-->
<script type="text/javascript">  
    $(document).ready(function() {  
        //为超链接加上target='_blank'属性  
        $('a[href^="http"]').each(function() {  
            $(this).attr('target', '_blank');  
        });  
    });  
</script> 
    {% if allow_daovoice %}
        {% if current_user.is_authenticated %}
            <script type="text/javascript">
                  daovoice('init', {
                  app_id: "{{ dao_app_id }}",
                  user_id: "{{ current_user.username }}", // 必填: 该用户在您系统上的唯一ID
                  email: "{{ current_user.email }}", // 选填:  该用户在您系统上的主邮箱
                  name: "{{ current_user.username }}", // 选填: 用户名
                  signed_up: {{ current_user.create_time.strftime("%s") }} // 选填: 用户的注册时间，用Unix时间戳表示
                });
                daovoice('update');
            </script>

        {% else %}
            <script type="text/javascript">
                daovoice('init', {
                  app_id: "{{ dao_app_id }}"
                });
                daovoice('update');
            </script>

        {% endif %}
    {% endif %}

    {% block js %}

    {% endblock %}
</body>
</html>